{% extends 'base.html.twig' %}

{% block body %}
    <div class="hold-transition sidebar-mini">
        <div class="wrapper">
            {% include 'shared/navigation.html.twig' %}
            {% include 'shared/sidebar.html.twig' %}

            <div class="content-wrapper">
                {% include 'shared/flash_message.html.twig' %}
                {% block content  %}

                {% endblock %}
            </div>

            {% include 'shared/footer.html.twig' %}
        </div>
    </div>
{% endblock %}