<div class="col-md-9 col-sm-12 col-12">
    <div class="card card">
        <div class="card-header">
            <h3 class="card-title">Add Product Type</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        {{ form_start(form) }}
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{{ button_label }}</button>
            </div>
        {{ form_end(form) }}    
    </div>
</div>